@mixin large() {
  @media (min-width: 832px) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #444549;
}

.backdrop {
  min-height: 100%;
  background: no-repeat center url('./assets/alex.jpg');
  background-size: cover;
  position: fixed;
  $blur-radius: 10px;
  top: -2 * $blur-radius;
  left: -2 * $blur-radius;
  width: calc(100% + #{4 * $blur-radius});
  height: calc(100% + #{4 * $blur-radius});
  filter: blur($blur-radius) opacity(0.8);
  z-index: 1;
}

.card {
  position: relative;
  margin: 2rem auto;
  z-index: 2;
  background: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 1rem 0 0;

  max-width: calc(100% - #{4rem});
  @include large {
    max-width: 800px;
    padding-top: 2rem;
  }
}

%card-text {
  margin: 0 1rem 0.5em;

  @include large {
    margin: {
      left: 2rem;
      right: 2rem;
    }
  }
}

.heading {
  @extend %card-text;
  font-family: Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida,
    'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', Georgia, serif;
  font-size: 4rem;
}

.info-section {
  @extend %card-text;
  color: #558b2f;
  font-size: 1.5rem;
  font-weight: 500;
}

.info-item {
}

.image {
  width: 100%;
  height: auto;
}
